@use "../../assets/styles/base" as *;

.btn {
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 2em;
  }

  &.btn--primary {
    @include button-bg($primary);
  }
  &.btn--secondary {
    @include button-bg($secondary);
  }
  &.btn--relative {
    @include button-position(relative, auto, 50px, auto);
  }
  &.btn--floating {
    @include button-position(fixed, 40px, auto, 40px);
  }
  &.btn--round {
    @include button-shape($round, $medium, $medium);
  }
  &.btn--square {
    @include button-shape($not-round, $big, $big);
  }
  &.btn--rectangle {
    @include button-shape($not-round, $big, $medium);
  }
}
