@use "../../assets/styles/base" as *;

.sorting-pill {
  padding: 0.5rem 0.75rem;
  background: #eaeae9;
  border-radius: 30px;
  margin: 0 2px;
  &.sorting-pill--active {
    background-color: $secondary;
  }
}
