.grid-item {
  margin: 5px;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid rgb(240, 229, 229);
  img {
    border-radius: 5px;
  }
  .item-body {
    border-radius: 5px;
    margin-left: 5px;
  }

  .item-header {
    display: flex;
    margin-left: 5px;
    flex-direction: column;
    margin: 0px;
  }

  @media (min-width: 481px) {
    flex-basis: 19%;
  }
}
