.grid-item {
  margin: 5px;
  min-height: 110px;
  display: flex;
  border-radius: 5px;
  border: 2px solid rgb(240, 229, 229);
  flex-direction: column;
  &--full {
    width: 345px;
    height: 100%;

    .item-header {
      flex-direction: column;
    }
  }
  &--pill {
    width: 345px;
    height: 100%;

    .item-header {
      flex-direction: row;
      justify-content: space-between;

      .item-fav {
        margin: 2px;
      }
    }
  }
  img {
    border-radius: 5px;
    width: 345px;
    height: 345px;
    object-fit: cover;
  }
  .item-body {
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .item-header {
    display: flex;
    margin-left: 5px;
    margin: 0px;
    .item-fav {
      font-size: 2em;
    }
  }

  .item-email {
    font-weight: bold;
  }

  @media (min-width: 481px) {
    flex-basis: 19%;

    &--full {
      width: 345px;
      max-width: 345px;
      height: 680px;

      .item-header {
        flex-direction: column;
      }
    }
    &--pill {
      width: 345px;
      height: 450px;

      .item-header {
        flex-direction: row;
        justify-content: space-between;

        .item-fav {
          margin: 2px;
        }
      }
    }
  }
}
