@use "../../assets/styles/base" as *;

.modal__container {
  background: white;
  position: fixed;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  z-index: 1;
  &--hidden {
    display: none;
  }
  &--visible {
    display: flex;
  }
  #modal__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 481px) {
      margin: 13px 54px;
      align-items: center;
    }

    .modal__item-container {
      overflow-y: scroll;
      display: flex;
    }
  }

  .modal__header {
    width: 100%;
    height: 50px;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 481px) {
      height: 80px;
    }

    h1 {
      font-family: $title_font;
      font-size: 1.5em;
      @media (min-width: 481px) {
        font-size: 2em;
      }
    }

    #btn-close-modal {
      font-size: 0.5em;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 1em;
      top: 1em;
    }
  }
}
