@use "../../assets/styles/base" as *;

.modal__container {
  background: white;
  position: fixed;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  // margin: 150px auto 0;
  -webkit-transition: opacity 0.5s ease-out, bottom 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out, bottom 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out, bottom 0.5s ease-out;
  transition: opacity 0.5s ease-out, bottom 0.5s ease-out;

  &--hidden {
    z-index: 0;
    opacity: 0;
    bottom: -110vh;
  }
  &--visible {
    display: flex;

    bottom: 0;
    opacity: 1;
    z-index: 0;
  }
  #modal__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: $white;
    @media (min-width: 481px) {
      align-items: center;
    }

    .modal__item-container {
      overflow-y: scroll;
      display: flex;
    }
  }

  .modal__header {
    width: 100%;
    height: 50px;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 481px) {
      height: 80px;
    }

    h1 {
      font-family: $title_font;
      font-size: 1.5em;
      @media (min-width: 481px) {
        font-size: 2em;
      }
    }

    #btn-close-modal {
      font-size: 0.5em;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 1em;
      top: 1em;
    }
  }
}
