.header {
  display: flex;
  justify-content: center;
  background-color: #12c1ac;
  font-family: 'Pacifico', cursive;
  height: 100px;
  box-shadow: 1px 2px 5px #999;
  position: fixed;
  width: 100%;
}
