@use "../../assets/styles/base" as *;

.btn--floating {
  @include button(#12c1ac, white, 50px, fixed);
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 2em;
  }
}
