html,
body,
div#root {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
}

//COLORS VARS
$primary: #12c1ac;
$secondary: #ffc300;
$white: #fff;
$black: #000;

//SHAPE VARS
$round: 50px;
$not-round: 0px;
$small: 20px;
$medium: 60px;
$big: 170px;

//BUTTON MIXINS
@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

@mixin button-color($color) {
  color: $color;
}

@mixin button-shape($radius, $width, $height) {
  border-radius: $radius;
  width: $width;
  height: $height;
}

@mixin button-position($position, $bottom, $top, $right) {
  position: $position;
  bottom: $bottom;
  top: $top;
  right: $right;
}
